@media (max-width: 844px){
  .ticker {
    font-size: 11px;
  }
  .header-inner {
    padding: 0 16px;
    position: relative;
  }
  .nav{
    display: none !important; 
  }
  .logo-wrap{
    position: absolute;
    transform: translateX(-50%);
  }
  .logo{
    width: 70px !important;
  }
  .logo-dot {
      display: none;
    }
    .header-icons {
      margin-left: auto;
      gap: 8px;
    }
    .icon {
      font-size: 14px;
    }
}